
body{
    font-family: "Quicksand", sans-serif;

    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    background: linear-gradient(rgb(74, 103, 231), rgb(133, 170, 240), rgb(154, 230, 230), rgb(214, 240, 236));
background: linear-gradient(red, red, red);
    }




  #caja1{
    background-color: aquamarine;
    font-size: 50px;
    color: rgb(87, 12, 56);
  }

  #caja2{
    background: linear-gradient(rgb(220, 238, 119), rgb(243, 242, 165), rgb(245, 241, 208));
  }

  #titulo{
    font-size: 150px;
    color: darkblue;

      font-family: "Festive", cursive;
      font-weight: 400;
      font-style: normal;

  }

  #contenido{
    font-size: 80px;
    color: rgb(93, 46, 148);
  }

  #balon1{
    width: 1000px;
    border-radius: 50px;
    border-color: blue;
    border-width: 20px;
    border-style: solid;
  }

  #boton{
    width: 100px;
  }

  #cajaboton{
    background-color: rgb(182, 115, 115);
  }